<!DOCTYPE html>
<html data-ng-app="demoApp">
<head> 
	<title>Using AngularJS Directives and Data Binding</title>
</head>
<body >
	<div data-ng-controller="SimpleController">
		Name: 
		<p>
		<input type="text" data-ng-model="name" />
		</p>
		<ul>
			<li data-ng-repeat="cust in customers | filter: name | orderBy:'city'">{{ cust.name }} - {{ cust.city | uppercase }}</li>
		</ul>
	</div>
	<script src="angular.min.js"></script>

	<script>
			var demoApp = angular.module('demoApp', [])
			function SimpleController($scope) {
				$scope.customers = [
					{name:'John Smith',city:'Atlanta'}, 
					{name:'John Doe',city:'San Francisco'}, 
					{name:'Jane Doe', city:'Palo Alto'},
					{name:'Jane Smith', city:'Menlo Park'}
				];
			}
			demoApp.controller('SimpleController', SimpleController);
	</script>
</body>
</html>

