<!DOCTYPE html>
<html data-ng-app="">
<head> 
	<title>Using AngularJS Directives and Data Binding</title>
</head>
<body data-ng-init="customers=[{name:'John Smith',city:'Atlanta'}, {name:'John Doe',city:'San Francisco'}, {name:'Jane Doe', city:'San Francisco'}]">
	<div class="container">
		Name: <input type="text" data-ng-model="name" />
	</div>
	<p>
	<ul>
		<li data-ng-repeat="cust in customers | filter: name">{{ cust.name }} - {{ cust.city }}</li>
	</ul>
	</p>

		<script src="angular.min.js"></script>
</body>
</html>


